{% extends 'home/layout.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}
{% block navbar %}
    {% include "components/elements/navbar.html.twig" %}
{% endblock %}

{% block body %}
    <header class="min-vh-100 d-flex flex-column justify-content-evenly text-center">
        <div class="" style="height:5vh">
            <span class="display-5 fw-bold text-light text-center title" {{ stimulus_controller('symfony/ux-typed', { strings: ['<span class="">Bienvenue chez</span> <span class=""> Maison Philo</span><span class="text-success-800 sub-title"> </span>'], typeSpeed: 40, loop: true, loopCount: 10, backSpeed: 50, backDelay: 5000, cursorChar:' <i class="fa-solid fa-heart fs-1 text-light"></i>', showCursor:true} )}}></span>
        </div>
        <h3 class="text-bg-light opacity-75">
            <span>
                Votre plateforme de partage d'informations et d'aide dédiée au bien-être des personnes âgées en Afrique subsaharienne francophone
            </span>

        </h3>
        <div class="mx-auto">
            <button type="button" class="btn btn-warning d-none d-md-block fw-bold">
                <p>Vous cherchez une information
                    <a href="" class="">Ciquez ici</a>
                </p>
                <p>Vous avez une information à partager
                    <a href="" class="">Ciquez ici</a>
                </p>
                <p>Vous souhaitez découvrir les actions sociales
                    <a href="" class="">Ciquez ici</a>
                </p>
            </button>
        </div>

        <div class="container-fluid py-2 d-none d-md-block">
            <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 justify-content-evenly">
                {% for service in services %}
                    <div class="col">
                        <p href="#" class="fw-bold p-1 btn btn-light h-100 w-75 d-flex align-items-center justify-content-center">{{service.name}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex d-md-none d-sm-block justify-content-evenly">
            {% for item in 1..3 %}
                <div>
                    <div class="p-3 border btn btn-warning rounded rounded-circle">
                        <i class="fas fa-user"></i>
                    </div>
                    <p>Partager vos informations</p>
                </div>

            {% endfor %}
        </div>
    </header>
    <section class="min-vh-100 bg-gradiant-grey py-5 container-fluid text-center">
        <h2 class="text-roboto text-capitalize display-5 text-success">Partage d'informations</h2>
        {% include "components/molecules/homeCircle.html.twig" with {
            content: "Vous cherchez une information pouvant aider au bien-être de nos aînés? Vous disposez d'information pas encore publiée sur ce site ? Bienvenue sur cet espace collaboratif !",
            href: "app_home",
            img: "information_seniors_afrique.jpg",
            alt: "Des jeunes qui partagent des informations"
        } %}
    </section>
    <section class="min-vh-100 bg-gradiant-light py-5 container-fluid text-center">
        <h2 class="text-roboto text-capitalize display-5 text-success pb-5">Actions sociales</h2>
        {% include "components/molecules/homeCircle.html.twig" with {
            content: "Venez retrouver nos ONG partenaires ainsi que les actions sociales dédiées à nos parents âgés que nous soutenons.",
            href: "app_home",
            img: "actions_sociales_afrique.jpg",
            alt: "Une personne participant à oeuvre sociale et caritatives"
        } %}
    </section>
{% endblock %}
