@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
$success: #166534;

.text-roboto {
  font-family: "Roboto Mono", monospace;
}

.text-success {
  color: $success !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-gradiant-grey {
  background: rgb(213 211 211);
  background: linear-gradient(
    90deg,
    rgb(213 211 211 / 100%) 0%,
    rgb(248 250 248 / 100%) 33%,
    rgb(249 252 249 / 100%) 35%,
    rgb(191 194 191 / 100%) 100%
  );
}

.bg-gradiant-light {
  background: rgb(212, 212, 217);
  background: linear-gradient(
    90deg,
    rgba(212, 212, 217, 1) 0%,
    rgba(235, 235, 235, 1) 67%,
    rgba(211, 213, 214, 1) 100%
  );
}
